{% extends 'base.html' %}
{% load static %}
{% block title %}Team{% endblock title %}
{% block nav-brand %}
    <a class="navbar-brand ms-2 fs-3" href="#" style="font-family: cursive;">Our Team</a>
{% endblock nav-brand %}
{% block team %}{% endblock team %}
{% block data1 %}
<div class="container-fluid" id='team-container'>
    <div class="row d-flex justify-content-center py-4 ">
        <div class="col-12 text-center fw-bold fs-4">SDC</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>

    <div class="row d-flex justify-content-around py-4">
        <div class="col-12 text-center fw-bold fs-4">Staff</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center py-4">
        <div class="col-12 text-center fw-bold fs-4">Team Leaders</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <div class="row d-flex justify-content-center py-4">
        <div class="col-12 text-center fw-bold fs-4">Front-End Team</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <div class="row d-flex justify-content-center py-4">
        <div class="col-12 text-center fw-bold fs-4">Desktop Application Team</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row d-flex justify-content-center py-4">
        <div class="col-12 text-center fw-bold fs-4">Mobile Application Team</div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-9">
            <div class="team-card card">
                <img src="{% static 'images/HOD.jpg' %}" alt="" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Dr. D. V. Chaudhari</h5>
                    <p class="card-subtitle">Head of Department (Computer)</p>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram fa-2x"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock data1 %}